{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}

{% block title %}- Login{% endblock title %}

{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{% static 'img/student_or_teacher.png' %}">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="w-auto bg-indigo-500 hover:bg-indigo-600 px-3 py-2 mt-2 rounded-md text-white" type="submit">Login</button>

            </form>
            <div class="flex py-5 border-t border-gray-200 mt-5 justify-between">
                <a class="hover:text-indigo-500 mt-3" href="{% url 'password_reset' %}">Forgot Password?</a>
                <a class="hover:text-indigo-500 mt-3" href="{% url 'signup' %}">Don't have an account?</a>
            </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
