{% extends "base.html" %}

{% block title %} - Notices {% endblock title %}

{% block lcontent %}
<h1 class="flex-1 text-2xl py-3 font-bold">Notices</h1>
<table class="table-fixed bg-blue-200 rounded">
    <thead class="border-b-4 border-indigo-600">
      <tr>
        <th class="w-1/9 font-bold p-3">S.No</th>
        <th class="w-1/2 font-bold p-3">Title</th>
        <th class="w-1/4">Link</th>
        <th class="w-1/4">Date</th>
      </tr>
    </thead>
    <tbody>
    {% for notice in notices %}
      <tr>
        <td class="w-1/9 p-3 text-center break-words">{{ forloop.counter }}</td>
        <td class="w-1/2 p-3 text-center break-words">{{ notice.title|capfirst }}</td>
        <td class="w-1/4 text-center"><a href="{{ notice.file.url }}" class="underline hover:text-blue-400">Download</a></td>
        <td class="w-1/4 text-center">{{ notice.added_on|date:"M d, Y" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock lcontent %}
