{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal {% block title %}{% endblock title %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<style>
</style>
<body >
    {% if not user.is_authenticated %}
    <div class="flex flex-col h-screen">

        {% include 'n-navbar.html' %}
        <main class="p-4 flex-grow">
            {% block content %}
            {% endblock content %}
        </main>
            {% include 'footer.html' %}
    </div>
    {% else %}
    <div class="relative min-h-screen md:flex">
        {% include 'navbar.html' %}
        <div class="flex-1 p-10">
            {% block lcontent %}
            {% endblock lcontent %}
        </div>
        <script>
            // grab everything we need
            const btn = document.querySelector(".mobile-menu-button");
            const sidebar = document.querySelector(".sidebar");

            // add our event listener for the click
            btn.addEventListener("click", () => {
            sidebar.classList.toggle("-translate-x-full");
            });
        </script>
    {% endif %}
</body>
</html>
