{% load static %}

<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 ml-10 md:mb-0" href="/">
            <img src="{% static 'img/logo-icon.png' %}" alt="logo">
            <h1 class="text-2xl font-sans leading-normal mt-0 mb-2 ml-1 text-indigo-700 hover:text-indigo-800">
                IITD - Student Portal
            </h1>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        </nav>

        <a href="{% url 'signup' %}"
            class="inline-flex items-center bg-indigo-500 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-600 rounded text-white mt-4 md:mt-0 mr-4">Sign
            Up
        </a>
        <a href="{% url 'login' %}"
            class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Login
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </a>
    </div>
</header>
