{% load static %}

<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg id="Capa_1" enable-background="new 0 0 512 512" height="32" viewBox="0 0 512 512" width="32" xmlns="http://www.w3.org/2000/svg"><g id="F_2_"><path d="m436 113.196v-113.196h-360v512h127.192v-203.979h200.962v-111.211h-200.962v-83.614z" fill="#ff7f40"/><g fill="#f25a3c"><path d="m256 0h180v113.196h-180z"/><path d="m256 196.81h148.154v111.211h-148.154z"/></g></g></svg>
      <a href="/"><span class="ml text-xl text-black-400">orceSales</span></a>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      {% if not request.user.is_authenticated %}
        <a href="#" class="mr-5 hover:text-gray-900">Sign Up</a>
        {% else %}
        {% if request.user.is_organizer %}
          <a href="#" class="mr-5 text-black-500 hover:text-yellow-600">Agents</a>
          {% endif %}
          <a href="#" class="mr-5 text-black-500 hover:text-yellow-600">Leads</a>
          <a href="#" class="mr-5 text-black-500 hover:text-yellow-600">Categories</a>
      {% endif %}
    </nav>

    {% if request.user.is_authenticated %}
      Logged in as: {{ request.user.username }}
      <a href="#" class="ml-3 inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Logout
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    {% else %}
    <a href="#" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Login
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
    {% endif  %}
  </div>
</header>
