{% extends "base.html" %}

{% block title %} - Quizzes {% endblock title %}

{% block lcontent %}
<h1 class="flex-1 text-2xl py-3 font-bold">My Quizzes </h1>
<a href="{% url 'teachers:quiz_add' %}" class="w-24 bg-indigo-500 hover:bg-indigo-600 px-3 py-2 mt-2 rounded-md text-white">Create Quiz</a>
<table class="table-fixed rounded">
    <thead class="border-b-4 border-black">
      <tr>
        <th class="w-1/3 font-bold p-3">Quiz</th>
        <th class="w-1/5 font-bold p-3">Batch</th>
        <th class="w-1/6 font-bold p-2">Questions</th>
        <th class="w-1/6 font-bold p-2">Taken By</th>
        <th class="w-1/5 font-bold p-2">Change</th>
        <th class="w-1/5 font-bold p-2">Results</th>
      </tr>
    </thead>
    <tbody>
    {% for quiz in quizzes %}
      <tr class="border-2 border-gray-200">
        <td class="w-1/3 p-3 text-center font-semibold break-words">{{ quiz.name }}</td>
        <td class="w-1/5 p-3 text-center break-words">{{ quiz.subject }}</td>
        <td class="w-1/6 p-2 text-center"><a href="#">{{ quiz.questions_count }}</a></td>
        <td class="w-1/6 p-2 text-center"><a href="#">{{ quiz.taken_count  }}</a></td>
        <td class="w-1/5 p-2 text-center"><a href="{% url 'teachers:quiz_change' quiz.pk %}" class="underline text-blue-500 hover:text-blue-700">Update</a></td>
        <td class="w-1/5 p-2 text-center"><a href="{% url 'teachers:quiz_results' quiz.pk %}" class="underline text-blue-500 hover:text-blue-700">View</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="bg-white px-2 py-3 flex items-center justify-between border-t border-gray-200 sm:px-2">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">Previous</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">Last &raquo;</a>
        {% endif %}

        <p class="text-sm text-gray-700 pt-2">
            Showing
            <span class="font-medium">{{ page_obj.number }}</span>
            of
            <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
            Pages
          </p>
    </span>
  </div>
{% endblock lcontent %}
