{% extends 'base.html' %}
{% load tailwind_filters %}
{% load static %}
{% block title %} - {{ quiz.name }} {% endblock title %}

{% block lcontent %}
<div class="max-w-6xl mx-auto">
    <div class="flex">
        <img src="{% static 'img/quiz-logo.png' %}" alt="quizicon" class="hidden md:block">
        <h1 class="text-3xl text-gray-800 mx-auto">Quiz - {{quiz.name }}</h1>
    </div>

    <h1 class="text-xl font-bold text-gray-800 mt-3">Question - {{ question.text }}</h1>

    <form method="POST" class="mt-5" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-36 bg-indigo-500 hover:bg-indigo-600 px-3 py-2 mt-2 rounded-md text-white">Next
        </button>
    </form>

</div>
{% endblock lcontent %}
